@import "tailwindcss";

/* Optional: ensure html/body fill the screen */
html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Light mode styles */
.light-spinner .p-progress-spinner-circle {
  stroke: #71717a !important;
}

.light-dropdown::placeholder {
  color: #000000;
}

/* Light mode placeholder */
.light-dropdown .p-dropdown-label.p-placeholder {
  color: #000000 !important;
  /* or whatever you want */
}

.light-dropdown .p-dropdown-label.p-placeholder {
  color: #000000 !important;
}

.light-dropdown .p-dropdown-trigger {
  color: #000000 !important;
}

.light-dropdown-panel .p-dropdown-item {
  color: black !important;
}

.light-dropdown-panel .p-dropdown-item.p-highlight {
  color: black;
  background-color: #f4f4f5;
}

.light-dropdown-panel .p-dropdown-item.p-highlight.p-focus {
  color: black;
  background-color: #f4f4f5;
}

.light-dropdown-panel .p-dropdown-item:not(.p-highlight):not(.p-disabled).p-focus {
  color: black;
  background-color: #f4f4f5;
}


/* Dark mode styles */
.dark-spinner .p-progress-spinner-circle {
  stroke: #F4F4F5 !important;
}

.dark-dropdown::placeholder {
  color: #F4F4F5;
}

.dark-dropdown .p-dropdown-label.p-placeholder {
  color: #F4F4F5 !important;
}

.dark-dropdown .p-dropdown-label.p-inputtext {
  color: #F4F4F5 !important;
}

.dark-dropdown .p-dropdown-label.p-placeholder {
  color: #F4F4F5 !important;
}

.dark-dropdown .p-dropdown-trigger {
  color: #F4F4F5 !important;
}

.dark-dropdown-panel .p-dropdown-item {
  color: white !important;
}

.dark-dropdown-panel .p-dropdown-empty-message {
  color: white;
  background-color: #3F3F46;
}

.dark-dropdown-panel .p-dropdown-item.p-highlight {
  color: white;
  background-color: #3F3F46;
}

.dark-dropdown-panel .p-dropdown-item.p-highlight.p-focus {
  color: white;
  background-color: #3F3F46;
}

.dark-dropdown-panel .p-dropdown-item:not(.p-highlight):not(.p-disabled).p-focus {
  color: white;
  background-color: #3F3F46;
}

/* TailwindCSS styling */
@theme {
  --animate-move-forever: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
  --breakpoint-3xl: 120rem;
  --breakpoint-4xl: 160rem;
  --breakpoint-5xl: 240rem;
  --inset-shadow-md: inset 0 2px 3px rgba(0, 0, 0, 0.25);

  @keyframes move-forever {
    0% {
      transform: translate3d(-90px, 0, 0);
    }

    100% {
      transform: translate3d(85px, 0, 0);
    }
  }
}

@media (min-width: 710px) and (max-width: 1499px) and (min-height: 640px) and (max-height: 900px) {
  .short-laptop\:h-75per {
    height: 75vh;
    max-height: 75vh;
  }

  .short-laptop\:size-40 {
    width: 12rem;
    height: 12rem;
  }
}