@import "tailwindcss";

/* Optional: ensure html/body fill the screen */
html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* TailwindCSS styling */
@theme {
  --inset-shadow-md: inset 0 2px 3px rgba(0, 0, 0, 0.25);
  --animate-move-forever: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;

  @keyframes move-forever {
    0% {
      transform: translate3d(-90px, 0, 0);
    }

    100% {
      transform: translate3d(85px, 0, 0);
    }
  }
}